.slider-for .slick-slide {
    display: none;
}

.slider-for .slick-slide.slick-active {
    display: block;
    left: 0px!important;
}

html[dir=rtl] .slider-for .slick-slide.slick-active {
    left: auto !important;
    right: 0 !important;
}

.img_div_width {
    width: 306px;
    align-items: center;
    grid-gap: 10px;
    padding: 0px 0px 10px 8px;
}

html[dir=rtl] .img_div_width {
    padding: 0px 8px 10px 0;
}

.sku_img_div {
    background: #f7f7f7;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.sku_img_div img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.var_img_source {
    max-width: 95%;
    max-height: 80px!important;
}


/* .slider-nav .slick-list .slick-track {
    display: flex;
    left: 0 !important;
    justify-content: flex-start;
    width: 100% !important;
    max-width: 100%;
} */

.slick-track {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.product_details iframe {
    width: 100%;
    min-height: 445px;
}

@media (max-width: 767.98px) {
    .product_details_dec {
        margin-top: 30px;
        margin-bottom: 30px!important;
    }
    .product_details_dec .product_details_dec_body {
        padding: 15px;
    }
}

@media (max-width: 540px) {
    .product_details iframe {
        min-height: 190px;
    }
}

.review_file {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.amaz_select2 .current {
    text-overflow: ellipsis;
    max-width: 95%;
    display: inline-block;
    overflow: hidden;
}

.sku_img_div.active {
    background: var(--base_color);
}

.img_div_width {
    z-index: 0;
}

.sku_img_div>* {
    padding: 2px !important;
}

.zoomWindowContainer div {
    height: 100% !important;
    width: 750px !important;
}

.tag_link {
    background-color: #eee;
    padding: 0px 8px;
    border-radius: 4px;
    margin: 3px 0px;
    display: inline-block;
}

.tag_link:hover {
    color: #fff !important;
    background-color: var(--base_color);
}




















/* new */




.single_product_page .center-slider .slick-slide {
    background-color: white;
    /*    border: 2px solid black;*/
  }
  .single_product_page .bottom_slider_content {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
  }
  .single_product_page .ninth_section_product .slick-next:before, .single_product_page .ninth_section_product .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: #000;
  }
  /*
  .single_product_page .slick-next {
      right: 25px !important;
  }.single_product_page .slick-prev {
      right: 25px !important;
  }
  
  .single_product_page .slick-prev:before {
      content: url("images/arrow_left.png");
  }
  .single_product_page .slick-next:before, [dir=rtl] .single_product_page .slick-prev:before {
      content: url("images/arrow_right.png");
  }
  */
  .single_product_page .wrapper {
    padding: 0px;
    padding-bottom: 50px;
  }
  .single_product_page .center-slider .slick-slide .buttons {
    width: 100%;
    display: inline-block;
  }
  .single_product_page .center-slider .slick-slide .buttons .add_to_cart {
    width: 45%;
    float: left;
  }
  .single_product_page .center-slider .slick-slide .buttons .add_to_cart button {
    padding: 15px 30px;
  }
  .slick-slide .buttons .old-price {
    font-size: 23px;
  }
  .slick-slide .buttons .price {
    font-size: 15px;
  }
  .slick-slide .buttons span.price_subscribers {
    margin: 0px !important;
    font-size: 12px !important;
  }
  .single_product_page .center-slider .slick-slide .buttons .price {
    width: 55%;
    float: left;
    padding: 0px;
    margin: 0px;
  }
  .single_product_page .bottom_slider_content button.best_selling {
    border: none;
    background-color: #00ab43;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
  }
  .single_product_page .bottom_slider_content button.ecologic {
    border: none;
    background-color: #00ab43;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
  }
  .single_product_page .bottom_slider_content button.new_at {
    background-color: #0061aa;
    border: none;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
  }
  /* .single_product_page p.product_name {
    color: black;
    font-size: 23px;
    padding: 0px 10px;
    font-weight: 600;
    margin: 0px;
  } */
  .single_product_page .slick-slide .rating {
    margin: 0px;
    width: 100%;
    display: inline-block;
    padding: 0px 10px;
  }
  .single_product_page h1.name.dollors {
    margin: 40px 0px;
  }
  .single_product_page .image-content, .card-content {
    padding: 50px 20px;
  }
  .single_product_page .seventh_section {
    background-color: #d1d1d1;
  }
  .single_product_page .seventh_section .first_head {
    color: black;
  }
  .single_product_page .ninth_section_product {
    background-color: white;
  }
  .single_product_page .ninth_section_product h1 {
    font-family: Lora-VariableFont;
    text-align: center;
    font-size: 35px;
  }
  .third_section_product {
    width: 100%;
    padding: 50px 0px;
    background-color: white;
  }
  .single_product_page .product {
    display: flex;
    justify-content: space-between;
  }
  .single_product_page .product-images {
    flex: 1;
    padding-right: 20px;
  }
  .single_product_page .product-images .main-image {
    width: 100%;
    border: 2px solid #000;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  .single_product_page .main-image img {
    width: 36%;
    margin: 0 auto;
  }
  .single_product_page .thumbnail-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .single_product_page .thumbnail-images .single_image {
    width: 22%;
    border: 2px solid black;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
  }
  .single_product_page .thumbnail-images img {
    width: 35%;
    cursor: pointer;
    /*  border: 2px solid transparent;*/
  }
  .product_brand_code p {
    margin: 0px;
  }
  .single_product_page .thumbnail-images img.active {
    /*  border-color: #333;*/
  }
  .single_product_page .product-details {
    flex: 1;
    padding-left: 20px;
  }
  .single_product_page .product-title h1 {
    font-size: 24px;
    margin: 0;
    font-family: Lora-VariableFont;
  }
  .price_and_right_btn {
    width: 100%;
    display: inline-block;
  }
  .single_product_page .price {
    font-size: 22px;
    color: #007600;
    margin-top: 10px;
    width: 70%;
    float: left;
  }
  .single_product_page .right_button {
    width: 30%;
    float: left;
  }
  .single_product_page .right_button button {
    background-color: #00ab43;
    border: none;
    padding: 5px 20px;
    color: white;
  }
  .single_product_page .right_button p {
    font-size: 12px;
    font-weight: 600;
  }
  .single_product_page .old-price {
    text-decoration: line-through;
    color: #000;
    font-size: 22px;
  }
  .description_toggle .section {
    border-top: 2px solid #494949;
    margin-bottom: 10px;
  }
  .description_toggle .section-header {
    background-color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .description_toggle .section-header span {
    font-size: 18px;
  }
  .description_toggle .toggle-icon {
    font-size: 18px;
  }
  .description_toggle .section-content {
    /* padding: 10px;
    display: none;
    background-color: #fff; */
  }
  .single_product_page .price span.price_subscribers {
    font-size: 15px;
    margin-left: 10px;
  }
  .single_product_page .rating {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 600;
  }
  .single_product_page .rating span {
    color: #dd8300;
  }
  .single_product_page .color-options {
    margin: 15px 0;
  }
  .single_product_page .color-options label {
    margin-right: 10px;
  }
  .single_product_page .color-circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
  }
  .single_product_page .color-circle.blue {
    background-color: #0062cc;
  }
  .single_product_page .color-circle.black {
    background-color: #333;
  }
  .wholesale_prices p {}
  .single_product_page .color-circle.selected {
    border-color: #333;
  }
  .single_product_page .buttons {
    margin: 20px 0px;
  }
  .single_product_page .buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
  }
  .single_product_page .buttons button.add-to-cart {
    background-color: #e5e01a;
    border: none;
  }
  .single_product_page .buttons button.buy-now {
    background-color: #333;
    color: white;
    border: none;
  }
  .single_product_page .description {
    margin-top: 30px;
  }
  .products_tabs .tab-container {
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
      margin-top: 20px;
  }
  .above_footer_section {
      padding: 30px 0px;
      background-color: #ffffff;
      text-align: center;
  }
  .footer_section_left{
      color: white;
      padding-top: 30px;
  }
  .footer_section_left ul{
      list-style-type: none;
  }
  .footer_section_left ul li {
      font-size: 20px;
      line-height: 35px;
  }
  /* .above_footer_section .above_footer_first {
      background-image: url(images/above_footer.png);
      background-repeat: no-repeat;
      margin: 0 auto;
      width: 69%;
      display: inline-block;
      padding: 5px;
  } */
  /* .above_footer_section .above_footer_first .payment_gitway{
      width: 25%;
      float: left;
      padding: 50px 20px;
  } */
  /* Style for tabs */
  /* .products_tabs .tab {
    padding: 10px;
    cursor: pointer;
    color: #000;
    border-right: 1px solid #ccc;
    width: 10%;
    float: left;
    text-align: center;
  } */
  .products_tabs .tab:last-child {
    border-right: none;
  }
  .products_tabs .tab:hover {
    background-color: #f4f4f4;
  }
  .products_tabs .tab.active {
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  /* Style for the content below the tabs */
  .products_tabs .tab-content {
    display: none;
    border-radius: 5px;
  }
  .products_tabs .products_tabs {
    margin-top: 30px;
  }
  /* .products_tabs div#benefits p {
    width: 90%;
    float: left;
  } */
  .products_tabs div#benefits span {
    width: 10%;
    float: left;
    padding: 30px 0px;
  }
  .products_tabs .tab-content.active p{
    display: block;
    font-family: "Circular Std Book" !important;
  }
  /* Style for subscription button */
  .subscription-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .subscription-btn:hover {
    background-color: #218838;
  }
  /*Mobile for Product*/
  /* Mobile responsive design */
  @media screen and (max-width: 768px) {
    .single_product_page .product {
      flex-direction: column;
    }
    .single_product_page .product-images, .product-details {
      padding: 0;
    }
    .single_product_page .product-details {
      padding-top: 20px;
    }
    .single_product_page .thumbnail-images img {
      width: 22%;
    }
    .single_product_page .product-title h1 {
      font-size: 20px;
    }
    .single_product_page .price {
      font-size: 20px;
    }
    .single_product_page .old-price {
      font-size: 14px;
    }
    .single_product_page .buttons button {
      font-size: 14px;
      padding: 8px 16px;
    }
    .single_product_page .description {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 480px) {
    .single_product_page .product {
      flex-direction: column;
    }
    .single_product_page .thumbnail-images {
      display: flex;
      justify-content: space-around;
    }
    .single_product_page .thumbnail-images img {
      width: 22%;
    }
    .single_product_page .product-title h1 {
      font-size: 18px;
    }
    .single_product_page .price {
      font-size: 18px;
    }
    .single_product_page .old-price {
      font-size: 12px;
    }
    .single_product_page .rating {
      font-size: 12px;
    }
    .single_product_page .buttons button {
      font-size: 12px;
      padding: 6px 12px;
    }
    .single_product_page .description {
      font-size: 12px;
    }
  }